/* line 1, M:/Web/ntc/css/style.scss */
html, body {
  height: 100%; }

/* line 3, M:/Web/ntc/css/style.scss */
html {
  box-sizing: border-box; }

/* line 4, M:/Web/ntc/css/style.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 6, M:/Web/ntc/css/style.scss */
img {
  max-width: 100%; }

/* line 7, M:/Web/ntc/css/style.scss */
::selection {
  background: #000; }

/* line 8, M:/Web/ntc/css/style.scss */
b, strong {
  font-weight: 600; }

/* line 10, M:/Web/ntc/css/style.scss */
h1, h2 {
  font-weight: 400;
  line-height: 1.8; }

/* line 14, M:/Web/ntc/css/style.scss */
h5 {
  font-weight: 400;
  font-size: .61em; }

/* line 15, M:/Web/ntc/css/style.scss */
h6 {
  font-weight: 400;
  font-size: .51em; }

/* line 16, M:/Web/ntc/css/style.scss */
p {
  font-size: .8em;
  margin: 10px 0; }

/* line 20, M:/Web/ntc/css/style.scss */
.fa {
  padding: 0 5px; }

/* line 21, M:/Web/ntc/css/style.scss */
a {
  color: inherit; }

/* line 23, M:/Web/ntc/css/style.scss */
[lang=en] {
  direction: ltr; }

/* line 25, M:/Web/ntc/css/style.scss */
body {
  background: #f8f8f8;
  color: #111111;
  font-family: 'Cairo', 'Open Sans', Roboto, sans-serif;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden; }

/* line 35, M:/Web/ntc/css/style.scss */
.wrapper {
  width: 75%;
  max-width: 960px;
  margin: auto; }

/* line 41, M:/Web/ntc/css/style.scss */
header.hero {
  position: relative;
  height: 86.7%;
  overflow: hidden;
  color: #fff;
  background-color: #222;
  background-image: url(../img/desk.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  /* line 52, M:/Web/ntc/css/style.scss */
  header.hero p {
    color: #111;
    font-weight: 600;
    margin-top: 80px;
    width: 70%;
    margin-bottom: 50px;
    text-align: justify; }

/* line 62, M:/Web/ntc/css/style.scss */
.hero .logo {
  white-space: nowrap;
  margin-top: 15vh;
  text-indent: -2%;
  cursor: pointer; }
  /* line 66, M:/Web/ntc/css/style.scss */
  .hero .logo img {
    width: 150px;
    float: right; }
  /* line 70, M:/Web/ntc/css/style.scss */
  .hero .logo h1, .hero .logo h2 {
    transform: translateY(20px);
    font-size: 1.5em; }
  /* line 71, M:/Web/ntc/css/style.scss */
  .hero .logo h1 {
    margin-bottom: -20px; }

/* line 75, M:/Web/ntc/css/style.scss */
.btn {
  display: inline-block;
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: .8em;
  text-decoration: none;
  font-family: inherit;
  border: 1px solid #2e6da4;
  user-select: none;
  cursor: pointer; }
  /* line 87, M:/Web/ntc/css/style.scss */
  .btn:hover {
    background-color: #286090;
    border-color: #204d74; }
  /* line 92, M:/Web/ntc/css/style.scss */
  .btn.transparent {
    background: none;
    border: 1px solid #fff;
    transition: .3s color, .3s background-color; }
    /* line 96, M:/Web/ntc/css/style.scss */
    .btn.transparent:hover {
      background-color: #fff;
      color: #222; }

/* line 103, M:/Web/ntc/css/style.scss */
.navbar {
  overflow: hidden;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 15px #999999;
  max-height: 88px;
  z-index: 5; }
  /* line 112, M:/Web/ntc/css/style.scss */
  .navbar a {
    color: #717073;
    display: block;
    text-decoration: none;
    padding: 1em 5%;
    white-space: nowrap; }
    /* line 118, M:/Web/ntc/css/style.scss */
    .navbar a:hover:not(.brand) {
      background-color: rgba(142, 196, 73, 0.7);
      color: #fff; }
  /* line 123, M:/Web/ntc/css/style.scss */
  .navbar .wrapper {
    display: flex;
    justify-content: center; }
  /* line 127, M:/Web/ntc/css/style.scss */
  .navbar .brand {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 80% center; }
  /* line 133, M:/Web/ntc/css/style.scss */
  .navbar .nav-toggle {
    display: none; }
  /* line 136, M:/Web/ntc/css/style.scss */
  .navbar .nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }

@media screen and (max-width: 500px) {
  /* line 144, M:/Web/ntc/css/style.scss */
  .navbar {
    max-height: none;
    overflow: visible; }
    /* line 147, M:/Web/ntc/css/style.scss */
    .navbar .wrapper {
      justify-content: space-between; }
    /* line 150, M:/Web/ntc/css/style.scss */
    .navbar .nav-list {
      display: none;
      width: 100%;
      order: 1; }
    /* line 155, M:/Web/ntc/css/style.scss */
    .navbar .nav-toggle {
      display: block;
      padding-top: 20px; }
    /* line 159, M:/Web/ntc/css/style.scss */
    .navbar .brand {
      background-size: 60%;
      text-indent: 35px; } }

@media screen and (max-width: 820px) {
  /* line 167, M:/Web/ntc/css/style.scss */
  header.hero {
    font-size: .8em; }
    /* line 168, M:/Web/ntc/css/style.scss */
    header.hero p {
      margin-top: 20px;
      margin-bottom: 20px; }
    /* line 171, M:/Web/ntc/css/style.scss */
    header.hero .logo h1 {
      font-size: 1em; }
    /* line 172, M:/Web/ntc/css/style.scss */
    header.hero .logo img {
      width: 90px; }
  /* line 177, M:/Web/ntc/css/style.scss */
  .navbar a {
    font-size: .7em;
    padding: .8em 2%; }
  /* line 181, M:/Web/ntc/css/style.scss */
  .navbar .brand {
    background-position: 100% center; } }

/* line 187, M:/Web/ntc/css/style.scss */
.slide {
  color: #f8f8f8;
  padding: 90px 0;
  position: relative; }
  /* line 191, M:/Web/ntc/css/style.scss */
  .slide h1 {
    text-align: center; }
  /* line 192, M:/Web/ntc/css/style.scss */
  .slide .wrapper {
    margin-top: 50px; }
  /* line 195, M:/Web/ntc/css/style.scss */
  .slide:after {
    content: '';
    width: 50px;
    height: 50px;
    background: inherit;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px);
    transform: rotate(45deg);
    z-index: 1; }

/* line 208, M:/Web/ntc/css/style.scss */
#features {
  background-color: #d30e6c; }
  /* line 210, M:/Web/ntc/css/style.scss */
  #features .wrapper {
    display: flex;
    justify-content: space-between; }

@media screen and (max-width: 740px) {
  /* line 218, M:/Web/ntc/css/style.scss */
  #features .wrapper {
    flex-direction: column; }
  /* line 221, M:/Web/ntc/css/style.scss */
  #features .feature:not(:last-of-type) {
    margin-bottom: 40px; } }

/* line 227, M:/Web/ntc/css/style.scss */
.feature {
  text-align: center; }
  /* line 229, M:/Web/ntc/css/style.scss */
  .feature i.fa {
    /* icon */
    display: block;
    font-size: 3em;
    text-align: center; }

/* line 236, M:/Web/ntc/css/style.scss */
#training-programs {
  background-color: #8ec449; }
  /* line 238, M:/Web/ntc/css/style.scss */
  #training-programs .wrapper {
    display: flex;
    height: 400px; }
  /* line 242, M:/Web/ntc/css/style.scss */
  #training-programs .arrow {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #fff;
    position: absolute;
    transition: .5s top;
    right: 0;
    z-index: 1;
    top: 0; }
  /* line 252, M:/Web/ntc/css/style.scss */
  #training-programs .program-headers {
    background-color: #cd5c5c;
    font-size: 0.65em;
    width: 330px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    flex-shrink: 0; }
    /* line 266, M:/Web/ntc/css/style.scss */
    #training-programs .program-headers .info-slide {
      max-height: 0;
      overflow-y: auto;
      transition: max-height 0.2s ease-out;
      padding: 0 25px; }
      /* line 270, M:/Web/ntc/css/style.scss */
      #training-programs .program-headers .info-slide:first-of-type {
        max-height: initial; }
    /* line 274, M:/Web/ntc/css/style.scss */
    #training-programs .program-headers > li {
      padding: 10px 5px; }
      /* line 276, M:/Web/ntc/css/style.scss */
      #training-programs .program-headers > li.active {
        background-color: #111; }
      /* line 277, M:/Web/ntc/css/style.scss */
      #training-programs .program-headers > li:hover {
        background-color: #f8f8f8;
        color: #111; }
      /* line 281, M:/Web/ntc/css/style.scss */
      #training-programs .program-headers > li:not(:last-of-type) {
        border-bottom: 1px solid #fff; }
  /* line 287, M:/Web/ntc/css/style.scss */
  #training-programs .info-box {
    background-color: rgba(139, 0, 0, 0.7);
    font-size: .75em;
    width: 75%;
    padding: 10px 25px;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
    overflow-y: auto; }
    /* line 297, M:/Web/ntc/css/style.scss */
    #training-programs .info-box .info-slide:not(:first-of-type) {
      display: none; }
  /* line 300, M:/Web/ntc/css/style.scss */
  #training-programs .info-slide ul {
    list-style: disc;
    font-size: .75em;
    padding-right: 25px; }
    /* line 304, M:/Web/ntc/css/style.scss */
    #training-programs .info-slide ul > li {
      margin: 10px 0; }

@media screen and (max-width: 740px) {
  /* line 311, M:/Web/ntc/css/style.scss */
  #training-programs .wrapper {
    margin-top: 25px;
    height: auto; }
  /* line 315, M:/Web/ntc/css/style.scss */
  #training-programs .program-headers {
    width: 100%;
    white-space: normal; }
  /* line 323, M:/Web/ntc/css/style.scss */
  #training-programs .arrow {
    display: none; }
  /* line 326, M:/Web/ntc/css/style.scss */
  #training-programs .info-box {
    display: none; } }

/* line 334, M:/Web/ntc/css/style.scss */
#calender h1 {
  color: #111; }

/* line 335, M:/Web/ntc/css/style.scss */
#calender .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  /* line 340, M:/Web/ntc/css/style.scss */
  #calender .wrapper > .event {
    background-color: #2a579b;
    overflow: hidden;
    position: relative;
    padding: 5px 15px;
    margin: 10px 5px;
    width: 220px;
    height: 220px;
    cursor: pointer; }
    /* line 344, M:/Web/ntc/css/style.scss */
    #calender .wrapper > .event:nth-child(even) {
      background-color: #666465; }
    /* line 355, M:/Web/ntc/css/style.scss */
    #calender .wrapper > .event .front, #calender .wrapper > .event .back {
      height: 100%;
      transition: .3s transform; }
    /* line 360, M:/Web/ntc/css/style.scss */
    #calender .wrapper > .event:hover .front, #calender .wrapper > .event:hover .back {
      transform: translateY(-100%); }
    /* line 364, M:/Web/ntc/css/style.scss */
    #calender .wrapper > .event h3 {
      font-weight: 400;
      font-size: 1.2em; }
    /* line 370, M:/Web/ntc/css/style.scss */
    #calender .wrapper > .event .front .details {
      position: absolute;
      bottom: 5; }
      /* line 373, M:/Web/ntc/css/style.scss */
      #calender .wrapper > .event .front .details > span {
        display: block;
        font-size: .6em; }
    /* line 379, M:/Web/ntc/css/style.scss */
    #calender .wrapper > .event .back {
      border-right: 2px solid #f8f8f8;
      padding: 0 10px 10px 4px; }

/* line 387, M:/Web/ntc/css/style.scss */
#clients {
  background-color: rgba(0, 0, 0, 0.2); }
  /* line 389, M:/Web/ntc/css/style.scss */
  #clients .wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap; }
  /* line 396, M:/Web/ntc/css/style.scss */
  #clients img {
    width: 150px;
    margin: 5px; }
  /* line 400, M:/Web/ntc/css/style.scss */
  #clients img:last-of-type {
    filter: saturate(100); }
  /* line 403, M:/Web/ntc/css/style.scss */
  #clients:after {
    display: none; }

/* line 406, M:/Web/ntc/css/style.scss */
#staff {
  display: none;
  background-color: #00bfff; }
  /* line 409, M:/Web/ntc/css/style.scss */
  #staff .wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    overflow: auto; }
  /* line 415, M:/Web/ntc/css/style.scss */
  #staff .person {
    flex-shrink: 0;
    text-align: center;
    margin: 5px 40px;
    width: 200px; }
    /* line 420, M:/Web/ntc/css/style.scss */
    #staff .person img {
      max-width: 50%;
      border-radius: 50%; }

/* line 427, M:/Web/ntc/css/style.scss */
#testimonials {
  display: none;
  background-color: #cd5c5c; }
  /* line 430, M:/Web/ntc/css/style.scss */
  #testimonials .wrapper {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  /* line 436, M:/Web/ntc/css/style.scss */
  #testimonials blockquote {
    color: #222;
    background-color: #f8f8f8;
    padding: 5px 25px;
    border-radius: 3px;
    width: 250px;
    max-height: 182px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5); }
    /* line 446, M:/Web/ntc/css/style.scss */
    #testimonials blockquote p {
      font-size: .7em; }
    /* line 448, M:/Web/ntc/css/style.scss */
    #testimonials blockquote:before, #testimonials blockquote:after {
      font-size: 2em;
      font-weight: 600;
      position: absolute; }
    /* line 453, M:/Web/ntc/css/style.scss */
    #testimonials blockquote:before {
      content: '"';
      right: 5px;
      top: -5px; }
    /* line 458, M:/Web/ntc/css/style.scss */
    #testimonials blockquote:after {
      content: '"';
      left: 5px;
      bottom: -30px; }

/* line 466, M:/Web/ntc/css/style.scss */
footer {
  background-color: #222;
  color: #f8f8f8;
  padding: 90px 0 0; }
  /* line 470, M:/Web/ntc/css/style.scss */
  footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  /* line 475, M:/Web/ntc/css/style.scss */
  footer section {
    width: 250px;
    margin: 5px 10px; }
    /* line 478, M:/Web/ntc/css/style.scss */
    footer section:first-of-type:not(:last-of-type) {
      border-left: 1px solid #fff; }
  /* line 482, M:/Web/ntc/css/style.scss */
  footer section {
    max-height: 290px;
    overflow-y: auto; }
  /* line 488, M:/Web/ntc/css/style.scss */
  footer #contact form {
    margin: 0 10px; }
  /* line 491, M:/Web/ntc/css/style.scss */
  footer #contact input, footer #contact textarea {
    color: #fff;
    background: 0;
    border: 0;
    border-bottom: 1px solid gray;
    font-family: inherit;
    font-size: .5em;
    display: block;
    width: 80%;
    margin: 10px 0;
    transition: .3s border-width; }
    /* line 502, M:/Web/ntc/css/style.scss */
    footer #contact input:focus, footer #contact textarea:focus {
      outline: none;
      border-bottom-color: #c4c4c4;
      border-bottom-width: 2px; }
  /* line 511, M:/Web/ntc/css/style.scss */
  footer #contact .btn {
    display: block;
    margin: 10px 0;
    font-size: 0.7em;
    font-weight: 200;
    padding: 0 5px 0 15px; }
  /* line 520, M:/Web/ntc/css/style.scss */
  footer .small-sections {
    justify-content: center;
    margin-top: 25px;
    text-align: center; }
    /* line 524, M:/Web/ntc/css/style.scss */
    footer .small-sections section {
      overflow: hidden; }
    /* line 525, M:/Web/ntc/css/style.scss */
    footer .small-sections a {
      text-decoration: none; }
  /* line 528, M:/Web/ntc/css/style.scss */
  footer .social-icons {
    justify-content: center;
    margin-top: 25px; }
    /* line 531, M:/Web/ntc/css/style.scss */
    footer .social-icons a {
      padding: 5px; }
    /* line 532, M:/Web/ntc/css/style.scss */
    footer .social-icons a > i.fa-facebook:hover {
      color: royalblue; }
    /* line 533, M:/Web/ntc/css/style.scss */
    footer .social-icons a > i.fa-twitter:hover {
      color: #00bfff; }
    /* line 534, M:/Web/ntc/css/style.scss */
    footer .social-icons a > i.fa-youtube:hover {
      color: red; }
    /* line 535, M:/Web/ntc/css/style.scss */
    footer .social-icons a > i.fa-google-plus:hover {
      color: orange; }
  /* line 538, M:/Web/ntc/css/style.scss */
  footer .small-footer {
    color: #c8c8c8;
    margin-top: 25px;
    background-color: #111;
    padding: 5px; }
    /* line 543, M:/Web/ntc/css/style.scss */
    footer .small-footer .fa-heart {
      color: red; }
    /* line 544, M:/Web/ntc/css/style.scss */
    footer .small-footer .wrapper {
      justify-content: space-between; }

@media screen and (max-width: 820px) {
  /* line 552, M:/Web/ntc/css/style.scss */
  footer .wrapper {
    width: 90%;
    justify-content: center; }
  /* line 556, M:/Web/ntc/css/style.scss */
  footer .wrapper:first-of-type section {
    border: none;
    text-align: center; }
  /* line 561, M:/Web/ntc/css/style.scss */
  footer #contact input, footer #contact textarea, footer #contact .btn {
    width: 100%; } }

/* line 566, M:/Web/ntc/css/style.scss */
.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1055;
  top: 0;
  overflow: hidden;
  display: none; }
  /* line 575, M:/Web/ntc/css/style.scss */
  .modal p {
    font-size: .7em; }

/* line 577, M:/Web/ntc/css/style.scss */
.modal-dialog {
  position: relative;
  overflow: hidden;
  background: #f8f8f8;
  color: #000;
  width: 70%;
  right: 15%;
  top: 20%;
  border-radius: 3px; }
  /* line 586, M:/Web/ntc/css/style.scss */
  .modal-dialog .modal-header {
    padding: 5px 20px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    /* line 589, M:/Web/ntc/css/style.scss */
    .modal-dialog .modal-header h1 {
      display: inline-block; }
    /* line 590, M:/Web/ntc/css/style.scss */
    .modal-dialog .modal-header .close {
      float: left;
      background: 0;
      color: #000;
      opacity: .2;
      border: 0;
      margin-top: 5px; }
      /* line 597, M:/Web/ntc/css/style.scss */
      .modal-dialog .modal-header .close:hover {
        opacity: .5; }
  /* line 600, M:/Web/ntc/css/style.scss */
  .modal-dialog .modal-body {
    height: 52%;
    overflow-y: auto;
    padding: 0 20px 20px; }
    /* line 604, M:/Web/ntc/css/style.scss */
    .modal-dialog .modal-body ul, .modal-dialog .modal-body ol {
      font-size: 0.7em;
      padding: 0 30px; }
    /* line 608, M:/Web/ntc/css/style.scss */
    .modal-dialog .modal-body ol {
      list-style: decimal; }
    /* line 609, M:/Web/ntc/css/style.scss */
    .modal-dialog .modal-body ul {
      list-style: disc; }

/*# sourceMappingURL=style.css.map */